extends layout

block content

  h1 "Server Error!"
  
  p= error.message
  p 
     a(class="button" href="/") Head Back Home 
  
  img(class="main-error" src="../images/500-error.jpg", alt="img")
  <a href="http://www.freepik.com">Designed by stories / Freepik</a>